html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

li {
  list-style: none; }

a:link,
a:visited {
  color: inherit;
  text-decoration: none; }

.btn {
  border: none; }
  .btn:focus, .btn:active {
    outline: none; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col,
.col-1-of-6,
.col-2-of-6,
.col-3-of-6,
.col-4-of-6,
.col-5-of-6,
.col-6-of-6 {
  position: relative;
  width: 100%;
  min-height: 1px; }

.col-1-of-6 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-2-of-6 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-3-of-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-4-of-6 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-5-of-6 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col,
.col-6-of-6 {
  flex: 0 0 100%;
  max-width: 100%; }

.navbar {
  background-color: #31aa26;
  box-shadow: 0 20px 35px #31aa26;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: flex-end; }
  .navbar__header .profile {
    position: relative; }
    .navbar__header .profile-link {
      border-radius: 50%; }
      .navbar__header .profile-link img {
        border-radius: inherit;
        max-width: 70px;
        min-width: 50px; }
    .navbar__header .profile .description {
      background-color: rgba(154, 179, 154, 0.6);
      border-radius: 0 10px;
      box-shadow: 0 0 5px #31aa26;
      color: #efefef;
      padding: 1rem;
      width: 30vw;
      position: absolute;
      bottom: -7rem;
      left: 50px;
      text-shadow: 0 0 5px #31aa26;
      transform: translateY(-500px);
      transition: all .5s; }
    .navbar__header .profile:hover .description {
      transform: translateY(0); }
  .navbar__toggler {
    display: none; }
  .navbar__collapse {
    margin-left: auto; }
    .navbar__collapse .navbar-nav {
      display: flex;
      width: 100%; }
      .navbar__collapse .navbar-nav .nav-item {
        border-radius: 5px;
        font-size: 2rem;
        margin-left: 1rem;
        padding: 1.2rem 1.5rem;
        text-transform: uppercase; }
        .navbar__collapse .navbar-nav .nav-item:hover, .navbar__collapse .navbar-nav .nav-item:active {
          background-color: #195713;
          color: #efefef; }

.welcome {
  background-color: #31aa26;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .welcome__message {
    margin: auto; }

.projects {
  background-color: orangered; }
  .projects .portfolio-header {
    font-size: 2.5rem;
    text-align: center; }
  .projects .project-tile {
    background-color: aqua;
    border: 2px solid orange;
    margin: 2rem;
    min-width: 100px; }
    .projects .project-tile .project-header {
      text-align: center; }
    .projects .project-tile .project-link .project-image {
      max-width: 100%; }

.navbar,
.welcome,
.projects,
.contact,
.footer {
  font-size: 1.6rem;
  min-width: 300px;
  padding: 2rem 20vw; }
