html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

li {
  list-style: none; }

a:link,
a:visited {
  color: inherit;
  text-decoration: none; }

.btn {
  border: none; }
  .btn:focus, .btn:active {
    outline: none; }

.navbar,
.welcome,
.projects,
.contact,
.footer {
  color: #363636;
  font-size: 1.6rem;
  min-width: 300px;
  padding: 2rem 20vw 1rem 20vw; }
  @media (max-width: 56.25em) {
    .navbar,
    .welcome,
    .projects,
    .contact,
    .footer {
      padding: 1rem 2rem; } }

.row {
  display: flex;
  flex-wrap: wrap; }

.col,
.col-1-of-6,
.col-2-of-6,
.col-3-of-6,
.col-4-of-6,
.col-5-of-6,
.col-6-of-6 {
  position: relative;
  width: 100%;
  min-height: 1px; }

.col-1-of-6 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-2-of-6 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-3-of-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-4-of-6 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-5-of-6 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col,
.col-6-of-6 {
  flex: 0 0 100%;
  max-width: 100%; }

.navbar {
  background-color: #31aa26;
  box-shadow: 0 3px 5px #195713;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: flex-end; }
  .navbar__header .profile {
    position: relative; }
    .navbar__header .profile-link {
      border-radius: 50%; }
      .navbar__header .profile-link img {
        border-radius: inherit;
        max-width: 70px;
        min-width: 50px; }
    .navbar__header .profile .description {
      background-color: rgba(226, 187, 14, 0.7);
      border-radius: 0 10px;
      box-shadow: 0 0 5px #31aa26;
      color: #efefef;
      padding: 1rem;
      position: absolute;
      bottom: -3rem;
      left: 50px;
      width: 30vw;
      text-shadow: 0 0 5px #31aa26;
      transform: translateY(-500px);
      transition: all .5s; }
    .navbar__header .profile:hover .description {
      transform: translateY(0); }
      @media (max-width: 75em) {
        .navbar__header .profile:hover .description {
          display: none; } }
  .navbar__toggler {
    margin-left: auto;
    display: none; }
    .toggler {
      display: none; }
    @media (max-width: 56.25em) {
      .navbar__toggler {
        align-self: center;
        justify-self: end;
        font-size: 4rem;
        display: block; }
        .bars {
          border-radius: 5px;
          padding: 1rem; }
        .toggler:checked + .navbar__toggler > .bars {
          background-color: rgba(25, 87, 19, 0.7);
          color: #e2bb0e; } }
  .navbar__collapse {
    margin-left: auto; }
    @media (max-width: 56.25em) {
      .navbar__collapse {
        margin-left: 0; } }
    .navbar__collapse .navbar-nav {
      display: flex;
      width: 100%; }
      @media (max-width: 56.25em) {
        .navbar__collapse .navbar-nav {
          flex-direction: column;
          background-color: rgba(49, 170, 38, 0.9);
          border-radius: 0 0 5px 5px;
          box-shadow: 0 3px 5px #195713;
          margin-top: 4rem;
          position: absolute;
          bottom: -13rem;
          left: 2rem;
          width: auto;
          transform: translateX(-30rem);
          transition: transform .3s; }
          .toggler:checked ~ .navbar__collapse .navbar-nav {
            transform: translateX(0); } }
      .navbar__collapse .navbar-nav .nav-item {
        border-radius: 5px;
        font-size: 2rem;
        margin-left: 1rem;
        padding: 1.2rem 1.5rem;
        text-transform: uppercase; }
        @media (max-width: 56.25em) {
          .navbar__collapse .navbar-nav .nav-item {
            border-radius: inherit;
            margin: 0;
            padding: 1rem; }
            .navbar__collapse .navbar-nav .nav-item:not(:last-child) {
              border-radius: 0; } }
        .navbar__collapse .navbar-nav .nav-item:hover, .navbar__collapse .navbar-nav .nav-item:active {
          background-color: #195713;
          color: #efefef; }

.welcome {
  background-color: #e2bb0e;
  background: linear-gradient(to bottom, #31aa26, #e2bb0e);
  font-size: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .welcome__salutation {
    font-weight: 600;
    margin-right: auto;
    margin-bottom: 2rem; }
  .welcome__message .link {
    font-weight: 600; }

.projects {
  background-color: #e2bb0e;
  background: linear-gradient(to bottom right, #31aa26, #e2bb0e); }
  .projects .portfolio-header {
    font-size: 2.5rem;
    text-align: center; }
  .projects .project-tile {
    background-color: #e2bb0e;
    border-radius: 10px;
    box-shadow: 0 0 5px #195713;
    margin: 2rem;
    min-width: 100px; }
    .projects .project-tile .project-header {
      font-size: 2rem;
      font-weight: 300;
      padding: 1rem;
      text-align: center;
      text-shadow: 0 0 3px #826c08; }
    .projects .project-tile .project-link {
      border-radius: 5px; }
      .projects .project-tile .project-link .project-image {
        border-radius: inherit;
        max-width: 100%; }
