.contact {
    background-color: $color-secondary;
    background: linear-gradient(to bottom, $color-primary, $color-secondary);
    font-size: 2rem;
    padding-top: 12rem;

    .column {
        flex-direction: column;
        margin-bottom: 0;
    }

    @include respond(tablet-land) {
        padding-top: 5rem;
    }
    
    @include respond(tablet-port) {
        padding-top: 2rem;
    }
    
    @include respond(phone) {
        padding-top: 1rem;
    }

    &__header {
        font-size: 3rem;
        margin-bottom: 1rem;
        text-align: center;

        @include respond(tablet-land) {
            font-size: 2.5rem;
        }
    }

    .link {
        padding: .3rem .7rem;
        position: relative;

        &::after {
            background-color: rgba($color-primary, .5);
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            transform: skewX(-15deg);
            transition: all .5s;
        }

        &:hover {
            color: #ff0000;
            text-decoration: underline;

            &::after {
                width: 100%;
            }
        }
    }

    &__message {
        padding: 2rem 0;
        text-align: justify;
    }

    &__form {

        .form {
            width: 100%;

            &-group {
                margin-top: 1rem;
                margin-bottom: 1rem;
                width: 100%;

                &--message {
                    margin-left: 2rem;

                    @include respond(tablet-port) {
                        margin-left: 0;
                    }
                }

                &--btn {
                    display: flex;
                }
            }

            &-control {
                border: 1px solid darken($color-secondary, 10);
                border-bottom: 1rem solid transparent;
                border-radius: 5px;
                font-size: inherit;
                line-height: 1.5;
                padding: 1rem;
                width: 100%;
                justify-self: flex-end;
                transition: all .5s;

                &--message {
                    height: 100%;
                    width: 100% ;
                    resize: none;
                }

                &:focus,
                &:active {
                    outline: none;
                }

                &:hover,
                &:focus {
                    border-bottom: 1rem solid darken($color-secondary, 10);
               }
            }
        }
    }
}