.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.col-1-of-6,
.col-2-of-6,
.col-3-of-6,
.col-4-of-6,
.col-5-of-6,
.col-6-of-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    display: flex;
}

.col-1-of-6 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-2-of-6 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-3-of-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-4-of-6 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-5-of-6 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-6-of-6 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col {

    @include respond(tablet-port) {
        flex: 0 0 100%;
        max-width: 100%;

        &:not(:last-child) {
            margin-bottom: 5%;
        }
    }
}