.navbar,
.welcome,
.projects,
.contact,
.footer {
    color: $color-black;
    font-size: 1.6rem;
    min-width: 300px;
    padding: 2rem $gutter-main 2rem $gutter-main;

    @include respond(tablet-land) {
        padding: 2rem 8rem;
    }
    
    @include respond(tablet-port) {
        padding: 2rem 5rem;
    }
    
    @include respond(phone) {
        padding: 1rem 3rem;
    }
}


#welcome-section,
#projects,
#contact {
    
    &:target {
        animation:  playAnimation 1s;
    }
}