.navbar {
    background-color: $color-primary;
    box-shadow: 0 20px 35px $color-primary;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    align-items: flex-end;

    &__header {

        .profile {
            position: relative;

            &-link {
                border-radius: 50%;

                img {
                    border-radius: inherit;
                    max-width: 70px;
                    min-width: 50px;
                }
            }

            .description {
                background-color: rgba($color-secondary, .6);
                border-radius: 0 10px;
                box-shadow: 0 0 5px $color-primary;
                color: $color-white;
                padding: 1rem;
                width: 30vw;
                position: absolute;
                bottom: -7rem;
                left: 50px;
                text-shadow: 0 0 5px $color-primary;
                transform: translateY(-500px);
                transition: all .5s;
            }

            &:hover {
                .description {
                    transform: translateY(0);
                }
            }
        
        }

    }

    &__toggler {
        display: none;
    }

    &__collapse {
        margin-left: auto;

        .navbar-nav {
            display: flex;
            width: 100%;


            .nav-item {
                border-radius: 5px;
                font-size: 1.8rem;
                margin-left: 2rem;
                padding: 1.2rem 1.5rem;
                text-transform: uppercase;

                &:hover,
                &:active {
                    background-color: darken($color-primary, 20);
                    color: $color-white;
                }
            }
        }
    }

}