.navbar {
    background-color: $color-primary;
    box-shadow: 0 1px 10px darken($color-primary, 10);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: flex-end;

    &__header {

        .profile {
            position: relative;

            &-link {
                border-radius: 50%;

                img {
                    border: 1px solid darken($color-primary, 30);
                    border-radius: inherit;
                    max-width: 70px;
                    min-width: 50px;

                    &:hover,
                    &:active {
                        box-shadow: 0 0 15px darken($color-primary, 30);
                    }
                }
           }
        }
    }

    &__toggler {
        margin-left: auto;
        display: none;

        @at-root .toggler {
            display: none;
        }

        @include respond(tablet-port) {
            align-self: center;
            justify-self: end;
            font-size: 4rem;
            display: block;

            

            @at-root .bars {
                border-radius: 5px;
                padding: 1rem;
            }

            @at-root .toggler:checked + &>.bars {
                background-color: rgba(darken($color-primary, 20), .7);
                color: $color-secondary;
            }
        }
   }

    &__collapse {
        margin-left: auto;

        @include respond(tablet-port) {
            margin-left: 0;
        }

        .navbar-nav {
            display: flex;
            width: 100%;

            @include respond(tablet-port) {
                flex-direction: column;
                background-color: rgba($color-primary, .9);
                border-radius: 0 0 5px 5px;
                box-shadow: 0 3px 5px darken($color-primary, 20);
                margin-top: 4rem;
                position: absolute;
                bottom: -13rem;
                left: 2rem;
                width: auto;
                transform: translateX(-30rem);
                transition: transform .3s;

                @at-root .toggler:checked ~ & {
                    transform: translateX(0);
                }
           }

            .nav-item {
                border-radius: 5px;
                font-size: 2rem;
                margin-left: 1rem;
                padding: 1.2rem 1.5rem;
                text-transform: uppercase;

                @include respond(tablet-port) {
                    border-radius: inherit;
                    margin: 0;
                    padding: 1rem;

                    &:not(:last-child) {
                        border-radius: 0;
                    }
                }

                &:hover,
                &:active {
                    background-color: darken($color-primary, 30);
                    color: $color-white;
                }
            }
        }
    }
}
