.projects {
    background-color: $color-secondary;
    background: linear-gradient(to bottom, $color-secondary, $color-primary);
    padding-top: 12rem;
    padding-left: 5rem;
    padding-right: 5rem;

    @include respond(tablet-land) {
        padding: 2rem;
        padding-top: 8rem;
    }
    
    @include respond(tablet-port) {
        padding: 2rem;
    }
    
    @include respond(phone) {
        padding: 1rem;
    }

    &__row {
        &:not(:last-child) {
            margin-bottom: 5%;
        }
    }

    .portfolio-header {
        font-size: 3rem;
        margin-bottom: 3rem;
        text-align: center;

        @include respond(tablet-land) {
            font-size: 2.5rem;
        }
    }

    .link {
        padding: .3rem .7rem;
        position: relative;

        &::after {
            background-color: rgba($color-primary, .5);
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            transform: skewX(-15deg);
            transition: all .5s;
        }

        &:hover {
            color: #ff0000;
            text-decoration: underline;

            &::after {
                width: 100%;
            }
        }
    }
}

.project-tile {
    border-radius: 5px;
    min-width: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 40rem;
    perspective: 150rem;
    position: relative;

    @include respond(tablet-port) {
        box-shadow: 0 0 10px darken($color-primary, 30);
        height: auto;
    }

    &__side {
        backface-visibility: hidden;
        box-shadow: 0 0 10px darken($color-primary, 30);
        border-radius: inherit;
        transition: all 1s cubic-bezier(.25, .1, 0, 1.82);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;

        @include respond(tablet-port) {
            box-shadow: none;
            height: 30rem;
            position: relative;
        }
    
        &--front {
            background-position: top;
            background-size: cover;
            background-color: $color-primary;

            @include respond(tablet-port) {
                background-color: darken($color-secondary, 30);
                opacity: .7;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            &-jv-analysis {
                background-image: url(/images/jv_analysis.png);
           }

            &-tribute-page {
                background-image: url(/images/tribute_page.png);
            }

            &-survey-form {
                background-image: url(/images/survey_form.png);
            }

            &-product-landing-page {
                background-image: url(/images/product_landing_page.png);
            }

            &-technical-documentation-page {
                background-image: url(/images/technical_documentation_page.png);
            }

            &-blank-page {
                background-image: url(http://via.placeholder.com/250x500);
            }
        }

        &--back {
            background-color: $color-secondary;
            background: linear-gradient(to right bottom, lighten($color-secondary, 30), darken($color-secondary, 10));
            padding: 2rem;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include respond(tablet-land) {
                padding: 1.2rem;
            }

            @include respond(tablet-port) {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                clip-path: polygon(0 12.5%, 12.5% 0%, 100% 12.5%, 100% 100%, 0 100%);
                margin-top: -4rem;
                padding: 5rem;
                transform: rotateY(0);
            }

            @include respond(phone) {
                padding: 1rem;
            }

            &-header {
                font-size: 2rem;
                font-weight: 500;
                text-align: center;
                text-shadow: 0 0 3px darken($color-secondary, 20);

                @include respond(tablet-port) {
                    margin-top: 3rem;
                    margin-bottom: 2rem;
                    margin-left: 15%;
                    text-align: left;
                }
            }

            &-description {
                line-height: 1.5;
                text-align: justify;

                @include respond(tablet-land) {
                    line-height: 1;
                }
            }

            &-tools {
                line-height: 2;

                @include respond(tablet-land) {
                    line-height: 1.5;
                }

                .list-item {

                    &::before {
                        content: "\25C9";
                    }

                    &:hover::before {
                        color: #ff0000;
                    }
                }
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);

        @include respond(tablet-port) {
            transform: rotateY(0);
        }
    }

    &:hover &__side--back {
        transform: rotateY(0);

         @include respond(tablet-port) {
            transform: rotateY(0);
        }
    }
}