.welcome {
    background-color: $color-secondary;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__message {
        margin: auto;
    }
}