.welcome {
    background-color: $color-secondary;
    background: linear-gradient(to bottom, $color-primary, $color-secondary);
    color: $color-black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 1px $color-primary;

    &__salutation,
    &__message {
        padding-left: 10rem;
        padding-right: 10rem;
  
        @include respond(tablet-port) {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        @include respond(phone) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__salutation {
        font-weight: 600;
        margin-right: auto;
        margin-bottom: 2rem;
    }

    &__message {

        .link {
            font-weight: 600;
        }
    }
}