//////////////////////////
//
// gutters and width
// 
/////////////////////////
$color-primary: #31aa26;
$color-secondary: #9ab39a;
$color-white: #efefef;

/////////////////////////
//
// gutters and width
// 
/////////////////////////
$gutter-main: 20vw; 