//////////////////////////
//
// display size
// 
/////////////////////////
$tablet-land: 75em;
$tablet-port: 56.25em;
$phone: 37.5em;

//////////////////////////
//
// gutters and width
// 
/////////////////////////
$color-black: #252525;
$color-grey: #363636;
$color-primary: #0884cc;
$color-secondary: #11b19b;
$color-white: #efefef;

/////////////////////////
//
// gutters and width
// 
/////////////////////////
$gutter-main: 20vw; 