//////////////////////////
//
// gutters and width
// 
/////////////////////////
$color-black: #252525;
$color-grey: #363636;
$color-primary: #31aa26;
$color-secondary: #e2bb0e;
$color-white: #efefef;

/////////////////////////
//
// gutters and width
// 
/////////////////////////
$gutter-main: 20vw; 